@use "/src/styles/variables" as *;

.heroFirstSection {
  background: linear-gradient(
    180deg,
    rgba(76, 201, 240, 0) 0%,
    rgba(67, 97, 238, 0.3) 100%
  );
  border-radius: 0 0 800px 800px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.heroContainer {
  width: 100%;
  max-width: 1440px;
  min-height: 902px;
  margin: 0 auto;
  padding: 116px 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.leftHeroSection {
  display: flex;
  flex-direction: column;
  max-width: 668px;
  width: 100%;
}
.leftHeroTop {
  gap: 30px;
  max-height: 216px;
}
.leftHeroTitle {
  color: $color-accent;
  font-size: 19.4px;
  font-family: $font-family-base;
  font-weight: $font-weight-medium;
  line-height: 1;
  letter-spacing: 0.15em;
}
.leftHeroText {
  color: $color-black;
  font-size: 40px;
  font-family: $font-family-base;
  font-weight: $font-weight-semibold;
}
.leftHeroText span {
  display: block;
}
.leftHeroAccount {
  color: $color-gray;
  font-size: 16px;
  font-family: $font-family-base;
  font-weight: $font-weight-regular;
}
.leftHeroAccount span {
  display: block;
}

.leftHeroImage {
  width: 100%;
  height: auto; // aspect ratio korunacak
  margin-top: auto;
  position: relative;
}

.leftHeroImage img {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/7; // resmin ortısını korur
  object-fit: cover; // resim kapsayıcıya tam oturur
  display: block;
  border-radius: 20px;
   filter: grayscale(100%);

}
  .leftHeroImage img:hover {
  transition: filter 0.3s ease;
  scale:1.05;
  filter: grayscale(0%);
}
.rightHeroSection {
  max-width: 485px;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  border-radius: 20px;
  font-family: $font-family-base;
  font-size: 16px;
}
.searchFirst,
.selectInput {
  width: 445px;
  height: 59px;
  border-radius: 20px;
  opacity: 1;
  box-sizing: border-box;
  transform: rotate(0deg);
  background-color: rgba($color-light-gray, 0.2);
  color: $color-dark-gray;
}
.searchFirst {
  padding: 24px 20px;
}
.selectInput {
  padding: 19px 20px;
}
.searchFirst::placeholder {
  color: $color-dark-gray;
  opacity: 1;
}

.rightHeroTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 485px;
  padding: 40px 40px;
  color: $color-dark-gray;
  border-bottom: 1px solid #aaaaaa;
}
.rightHeroSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 61px;
  padding: 50px 20px;
  max-width: 485px;
}
.rightTopSearch {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bottomHeroButton {
  width: 445px;
  height: 60px;
  background-color: $color-primary;
  color: $color-white;
  border-radius: 50px;
  font-size: 16px;
  font-family: $font-family-base;
  font-weight: $font-weight-medium;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* Ortak buton stili */
.rightForSale,
.rightForRent {
  flex: 1;
  background: transparent;
  border: none;
  font-size: 16px;
  font-family: $font-family-base;
  font-weight: $font-weight-medium;
  color: $color-dark-gray;
  padding: 10px 0;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

/* Hover efekti */
.rightForSale:hover,
.rightForRent:hover {
  color: $color-primary;
}

/* Active olan buton */
.active {
  color: $color-primary;
}

/* Active alt çizgi efekti */
.active::after {
  content: "";
  position: absolute;
  bottom: -41px; // border-bottom hizasına göre ayarla
  left: 0;
  width: 100%;
  height: 3px;
  background-color: $color-primary;
  border-radius: 2px;
}
@media (max-width: $r-1440) {
  .heroContainer {
    padding: 116px 72px;
  }
}
