@use "/src/styles/variables" as *;

.heroFirstSection {
  background: linear-gradient(
    180deg,
    rgba(76, 201, 240, 0) 0%,
    rgba(67, 97, 238, 0.3) 100%
  );
  border-radius: 0 0 800px 800px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.heroContainer {
  width: 100%;
  max-width: 1440px;
  min-height: 902px;
  margin: 0 auto;
  padding: 116px 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.leftHeroSection {
  display: flex;
  flex-direction: column;
  max-width: 668px;
  width: 100%;
  max-height: 617px;
}
.leftHeroTop {
  gap: 30px;
  max-height: 216px;
}
.leftHeroTitle {
  color: $color-accent;
  font-size: 19.4px;
  font-family: $font-family-base;
  font-weight: $font-weight-medium;
  line-height: 1;
  letter-spacing: 0.15em;
}
.leftHeroText {
  color: $color-black;
  font-size: 40px;
  font-family: $font-family-base;
  font-weight: $font-weight-semibold;
}
.leftHeroText span {
  display: block;
}
.leftHeroAccount {
  color: $color-gray;
  font-size: 16px;
  font-family: $font-family-base;
  font-weight: $font-weight-regular;
  margin-top: 20px;
}
.leftHeroAccount span {
  display: block;
}

.mainSlider {
  position: relative; // oklar bu container'a göre absolute olacak
  width: 100%;
  max-width: 668px; // resim boyutu ile eşleşsin
  height: 351px;
  margin: 0 auto;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    display: block;
  }

  .prevArrow,
  .nextArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: $color-white;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    padding: 16px;
  }

  .prevArrow {
    left: 0; // resmin sol kenarına sabit
  }

  .nextArrow {
    right: 0; // resmin sağ kenarına sabit
  }
}
/* LEFT HERO SLIDER */
.leftHeroBottom {
  display: flex;
  flex-direction: column;
  gap: 3px; // main slider ile thumbnail arası boşluk
  margin-top: 50px;
}

.lineIndicatorWrapper {
  display: flex;
  gap: 10px; // çizgiler arası boşluk
  margin-top: 10px; // ana slider altına mesafe
  justify-content: center; // ortaya hizala
}
.lineIndicator {
  width: 100px; // eşit genişlik
  height: 0;
  border-top: 4px solid $color-gray; // varsayılan gri
  border-radius: 2px;
  opacity: 0.5;
  transition:
    border-color 0.3s ease,
    opacity 0.3s ease;
}

.lineIndicator.active {
  border-color: $color-primary; // aktif slide mor
  opacity: 1;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: $color-white;
  width: 40px;
  height: 40px;
}

.rightHeroSection {
  max-width: 485px;
  max-height: 582px;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  border-radius: 20px;
  font-family: $font-family-base;
  font-size: 16px;
  margin-top: 40px;
}

.searchFirst {
  width: 445px;
  height: 59px;
  border-radius: 20px;
  opacity: 1;
  box-sizing: border-box;
  transform: rotate(0deg);
  background-color: rgba($color-light-gray, 0.2);
  color: $color-dark-gray;
}
.searchFirst {
  padding: 24px 20px;
}

.searchFirst::placeholder {
  color: $color-dark-gray;
  opacity: 1;
}

.rightHeroTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 485px;
  max-height: 80px;
  padding: 40px 40px;
  color: $color-dark-gray;
  border-bottom: 1px solid #aaaaaa;
}
.rightHeroSearch {
  display: flex;
  flex-direction: column;
  gap: 61px;
  padding: 50px 20px;
  max-width: 485px;
}
.rightTopSearch {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.bottomHeroButton {
  width: 445px;
  height: 60px;
  background-color: $color-primary;
  color: $color-white;
  border-radius: 50px;
  font-size: 16px;
  font-family: $font-family-base;
  font-weight: $font-weight-medium;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* Ortak buton stili */
.rightForSale,
.rightForRent {
  flex: 1;
  background: transparent;
  border: none;
  font-size: 16px;
  font-family: $font-family-base;
  font-weight: $font-weight-medium;
  color: $color-dark-gray;
  padding: 10px 0;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

/* Hover efekti */
.rightForSale:hover,
.rightForRent:hover {
  color: $color-primary;
}

/* Active olan buton */
.active {
  color: $color-primary;
}

.advancedSearchArea {
  display: flex;
  justify-content: row;
  gap: 10px;
  color: $color-primary;
  font-size: 13.3px;
}
.customSelect {
  position: relative;
  width: 445px;
}

.selectHeader {
  height: 59px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 20px;
  background-color: rgba($color-light-gray, 0.2);
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 8px;
  background-color: $color-white;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  list-style: none;
  padding: 10px 0;
  z-index: 100;
}

.dropdown li {
  padding: 12px 20px;
  cursor: pointer;
  transition: 0.2s;
}

.dropdown li:hover {
  background-color: rgba($color-light-gray, 0.3);
}

.selectHeader {
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-radius: 20px;
  background-color: rgba($color-light-gray, 0.2);
  color: $color-dark-gray;
  cursor: pointer;
  user-select: none;
}

.arrow {
  font-size: 12px;
  transition: transform 0.3s ease;
}

.arrowOpen {
  transform: rotate(180deg);
}
.heroStatsElements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: $font-family-base;
  font-weight: $font-weight-medium;
  font-size: 19.4px;
  gap: 30px;
}
.heroLeftStats {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 360px;
  background-color: $color-white;
  border-radius: 50px;
  gap: 10px;
  padding: 20px 36px;
}
.avatarGroup {
  display: flex;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px white;
  margin-left: -15px; // üst üste gelmesi için
}

.avatar:first-child {
  margin-left: 0;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.heroRightStats {
  display: flex;
  flex-direction: row;
  background-color: $color-white;
  padding: 20px 38px;
  border-radius: 50px;
  max-width: 320px;
  gap: 10px;
}
@media (max-width: $r-1440) {
  .heroContainer {
    padding: 116px 72px;
  }
}
@media (max-width: $r-1050) {
  .heroContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    gap: 60px;
  }
}
