@use "/src/styles/variables" as *;

.heroFirstSection {
  /*  max-width: 1440;
  margin: 0 auto; */
  background: linear-gradient(
    180deg,
    rgba(76, 201, 240, 0) 0%,
    rgba(67, 97, 238, 0.3) 100%
  );
  /*  height: 600px; */
  border-radius: 0 0 800px 800px;
}
.heroContainer {
  width: 100%;
  max-width: 1440px;
  padding: 116px 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 902px;
}
.leftHeroTop {
  display: flex;
  flex-direction: column;
}

.leftHeroTitle {
  color: $color-accent;
  font-size: 19.4px;
  font-family: $font-family-base;
  font-weight: $font-weight-medium;
  line-height: 1;
  letter-spacing: 0.15em;
}
.leftHeroText {
  color: $color-black;
  font-size: 40px;
  font-family: $font-family-base;
  font-weight: $font-weight-semibold;
}
.leftHeroText span {
  display: block;
}
.leftHeroAccount {
  color: $color-gray;
  font-size: 16px;
  font-family: $font-family-base;
  font-weight: $font-weight-regular;
}
.leftHeroAccount span {
  display: block;
}

.leftHeroImage {
  width: 668px;
  height: 351px;
  gap: 11px;
}

.rightHeroSection {
  max-width: 485px;
  min-height: 582px;
  display: flex;
  flex-direction: column;

  background-color: $color-white;
  border-radius: 20px;
}
.searchFirst,
.selectInput {
  width: 445px;
  height: 59px;

  border-radius: 20px;
  opacity: 1;
  box-sizing: border-box;
  transform: rotate(0deg);
  background-color: rgba($color-light-gray, 0.2);
  color: $color-dark-gray;
}
.searchFirst {
  padding: 24px 20px;
}
.selectInput {
  padding: 21px 20px;
}
.searchFirst::placeholder {
  color: $color-dark-gray;
  opacity: 1;
}

.rightHeroTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 485px;
  padding: 40px 40px;
  color: $color-dark-gray;
  border-bottom: 1px solid #aaaaaa;
}
.rightHeroSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 61px;
  padding: 50px 20px;
  max-width: 485px;
}
.rightTopSearch {
  display: flex;
  flex-direction: column;
  gap: 20px; // elemanlar arası boşluk
}
.bottomHeroButton {
  width: 445px;
  height: 60px;
  background-color: $color-primary;
  color: $color-white;
  border-radius: 50px;
  font-size: 16px;
  font-family: $font-family-base;
  font-weight: $font-weight-medium;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
