@use "/src/styles/variables" as *;

.heroFirstSection {
  background: linear-gradient(
    180deg,
    rgba(76, 201, 240, 0) 0%,
    rgba(67, 97, 238, 0.3) 100%
  );
  border-radius: 0 0 800px 800px;
  width: 100%; // Ekranı kapla
  max-width: 1440px; // İçeriğin maksimum genişliği
  margin: 0 auto;
}
.heroContainer {
  width: 100%;
  max-width: 1440px;
  min-height: 902px;
  margin: 0 auto;
  padding: 116px 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.leftHeroSection {
  display: flex;
  flex-direction: column;
  max-width: 668px;
}
.leftHeroTop {
  gap: 30px;
  max-height: 216px;
}
.leftHeroTitle {
  color: $color-accent;
  font-size: 19.4px;
  font-family: $font-family-base;
  font-weight: $font-weight-medium;
  line-height: 1;
  letter-spacing: 0.15em;
}
.leftHeroText {
  color: $color-black;
  font-size: 40px;
  font-family: $font-family-base;
  font-weight: $font-weight-semibold;
}
.leftHeroText span {
  display: block;
}
.leftHeroAccount {
  color: $color-gray;
  font-size: 16px;
  font-family: $font-family-base;
  font-weight: $font-weight-regular;
}
.leftHeroAccount span {
  display: block;
}

.leftHeroImage {
  width: 100%; // container genişliğine göre ölçeklenir
  max-width: 668px; // maksimum genişlik
  aspect-ratio: 668 / 351; // oran korunur
  overflow: hidden; // taşan kısımları gizler
  margin-top: auto; // flex column’da resim en alta itilir
  position: relative;
}

.leftHeroImage img {
  width: 100%;
  height: 100%;
  object-fit: cover; // container tamamen dolacak
  display: block; // inline boşluğu engeller
}

.rightHeroSection {
  max-width: 485px;
  min-height: 582px;
  display: flex;
  flex-direction: column;

  background-color: $color-white;
  border-radius: 20px;
}
.searchFirst,
.selectInput {
  width: 445px;
  height: 59px;

  border-radius: 20px;
  opacity: 1;
  box-sizing: border-box;
  transform: rotate(0deg);
  background-color: rgba($color-light-gray, 0.2);
  color: $color-dark-gray;
}
.searchFirst {
  padding: 24px 20px;
}
.selectInput {
  padding: 21px 20px;
}
.searchFirst::placeholder {
  color: $color-dark-gray;
  opacity: 1;
}

.rightHeroTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 485px;
  padding: 40px 40px;
  color: $color-dark-gray;
  border-bottom: 1px solid #aaaaaa;
}
.rightHeroSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 61px;
  padding: 50px 20px;
  max-width: 485px;
}
.rightTopSearch {
  display: flex;
  flex-direction: column;
  gap: 20px; // elemanlar arası boşluk
}
.bottomHeroButton {
  width: 445px;
  height: 60px;
  background-color: $color-primary;
  color: $color-white;
  border-radius: 50px;
  font-size: 16px;
  font-family: $font-family-base;
  font-weight: $font-weight-medium;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
@media (max-width: $r-1440) {
  .heroContainer {
    padding: 116px 72px;
  }
}
