@use "/src/styles/variables" as *;
.heroFirstSection {
  max-width: 1440;
  margin: 0 auto;
  background: linear-gradient(
    180deg,
    rgba(76, 201, 240, 0) 0%,
    rgba(67, 97, 238, 0.3) 100%
  );
  height: 600px;
  border-radius: 0 0 800px 800px;
}

.leftHeroTitle {
  color: $color-accent;
  font-size: 19.4px;
  font-family: $font-family-base;
  font-weight: $font-weight-medium;
  line-height: 1;
  letter-spacing: 0.15em;
}
.leftHeroText {
  color: $color-black;
  font-size: 40px;
  font-family: $font-family-base;
  font-weight: $font-weight-semibold;
}
.leftHeroText span {
  display: block;
}
.leftHeroAccount {
  color: $color-gray;
  font-size: 16px;
  font-family: $font-family-base;
  font-weight: $font-weight-regular;
}
.leftHeroAccount span {
  display: block;
}
.leftHeroBottom {
  width: 668px;
  height: 351px;
}
