@use "/src/styles/variables" as *;
.listingSection {
  width: 100%;
  max-width: 1440px;
  margin: 72px auto;

  .listingTopSection {
    display: flex;
    justify-content: space-between;
    opacity: 1;
    padding: 0 72px;

    .listingTopLeft {
      max-width: 500px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .listingTopLeftTitle {
      font-size: 19.4px;
      color: $color-accent;
      font-family: $font-family-base;
      font-weight: $font-weight-medium;
    }

    .listingTopLeftText {
      font-size: 39.8px;
      color: $color-dark;
      font-family: $font-family-base;
      font-weight: $font-weight-semibold;
    }

    .listingTopLeftExplain {
      font-size: 16px;
      color: $color-gray;
      font-family: $font-family-base;
      font-weight: $font-weight-regular;
    }

    .listingFilterButtons {
      display: flex;
      flex-direction: row;
      align-items: center;
      max-width: 285px;
      gap: 10px;

      .filterBtn {
        gap: 10px;
        opacity: 1;
        max-height: 49px;
        display: flex;
        align-items: center;
        border-radius: 30px;
        padding: 19px 30px 19px 30px;
        border-width: 1px;
        border: 1px solid $color-primary;
        font-size: 16px;
        color: $color-primary;
        font-family: $font-family-base;
        font-weight: $font-weight-medium;
        cursor: pointer;
      }

      .filterBtn:hover {
        color: $color-white;
        background-color: $color-primary;
      }
    }
  }
  .cardGrid {
    display: flex;
    padding-left: 72px;
    gap: 30px;
    margin-top: 30px;
    overflow: hidden;
  }
}
@media (max-width: $r-1050) {
  .listingSection {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    .listingTopSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }

    .cardGrid {
      flex-direction: column;
      align-items: center;
      padding-left: 0 !important;
      margin-left: 0 !important;
      gap: 20px;
    }
  }
}
