@use "/src/styles/variables" as *;
.TrendingSection {
  width: 100%;
  background: linear-gradient(180deg, $color-primary);

  .TrendingContainer {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 100px 160px;
    position: relative;
    display: flex;
    flex-direction: column;
    .TrendingTop {
      color: $color-white;
      font-family: $font-family-base;
      display: flex;
      align-items: center;
      flex-direction: column;

      .TrendingSubtitle {
        font-size: 19.4px;
        font-weight: $font-weight-medium;
      }
      .TrendingTitle {
        font-size: 39.8px;
        font-weight: $font-weight-semibold;
      }
    }
    .TrendingGrid {
      position: relative;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      max-width: 1120px;
      min-height: 467px;
      gap: 50px;
      opacity: 1;
      margin-top: 40px;
      .card {
        position: relative; // overlay için
        img {
          width: 340px;
          height: 240px;
          border-radius: 20px;
          object-fit: cover;
        }
        /* Tarih overlay */
        .dateOverlay {
          position: absolute;
          top: 0px;
          left: 35px;
          background-color: $color-white;
          padding: 6px 10px;
          border-radius: 10px;
          text-align: center;
          max-width: 57px;
          max-height: 50px;
          opacity: 1;
          font-family: $font-family-base;
          span {
            display: block;
            font-weight: bold;
            font-size: 14px;
            color: $color-dark;
          }

          small {
            display: block;
            font-size: 12px;
            color: $color-gray;
          }
        }
        .TrendingText {
          color: $color-white;
          font-family: $font-family-base;
          display: flex;
          flex-direction: column;
          gap: 10px;
          h3 {
            font-size: 27.6px;
            font-weight: $font-weight-medium;
            line-height: 100%;
            letter-spacing: 0%;
            margin-top: 15px;
          }

          p {
            font-size: 16px;
            font-weight: $font-weight-regular;
            color: $color-gray;
            line-height: 1.5;
          }
        }
      }
      .TrendingArrow {
        background-color: $color-white;
        width: 50px;
        height: 50px;
        border-radius: 30px;
        position: absolute;
        right: 0px;
        margin-top: 20px;
      }
    }
    .TrendinglineIndicatorWrapper {
      color: $color-gray;
      display: flex;
      gap: 10px; // çizgiler arası boşluk
      margin-top: 10px; // ana slider altına mesafe
      justify-content: center; // ortaya hizala

      .TrendinglineIndicator {
        width: 100px; // eşit genişlik
        height: 0;
        border-top: 4px solid $color-gray; // varsayılan gri
        border-radius: 2px;
        opacity: 0.5;
        transition:
          border-color 0.3s ease,
          opacity 0.3s ease;
      }
      .TrendinglineIndicator.active {
        border-color: $color-gray;
        opacity: 1;
      }
    }
  }
}

@media (max-width: $r-1050) {
  .TrendingSection {
    .TrendingContainer {
      padding: 60px 40px;

      .TrendingTop {
        .TrendingTitle {
          font-size: 32px;
        }
      }

      .TrendingGrid {
        grid-template-columns: 1fr;
        gap: 30px;
      }
    }
  }
}
