@use "/src/styles/variables" as *;
.becomeSection {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 72px 72px;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  .becomeContainer {
    max-width: 1296px;
    background-color: $color-primary;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    opacity: 1;
    border-radius: 40px;
    padding-right: 120px;
    z-index: 0;
    overflow: visible;
    .bigCircle {
      position: absolute;
      z-index: -1;
    }
  }
  .becomeImage {
    width: 100%;
    max-width: 358px;
    opacity: 1;
    display: block;
    z-index: 2;
    position: relative;
  }
  .becomeRightArea {
    display: flex;
    margin-left: auto;
    gap: 80px;
    .becomeTextArea {
      gap: 30px;
    }
    .becomeTitle {
      color: $color-white;
      font-family: $font-family-base;
      font-weight: $font-weight-semibold;
      font-size: 39.8px;
      line-height: 47px;
      letter-spacing: 0%;
    }
    .becomeText {
      color: $color-white;
      font-family: $font-family-base;
      font-weight: $font-weight-regular;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0%;
    }
    .becomeButton {
      color: $color-primary;
      background-color: $color-white;
      width: 165px;
      height: 49px;
      gap: 10px;
      opacity: 1;
      padding: 19px 30px 19px 30px;
      border-radius: 30px;
      font-family: $font-family-base;
      font-weight: $font-weight-medium;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
      display: flex;
      align-items: center;

      margin-top: 49px;
    }
  }
}
@media (max-width: $r-1050) {
  .becomeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .becomeContainer {
    display: flex;
    flex-direction: column;
  }
  .becomeImage {
    display: flex;
    align-items: center;
  }
  .becomeRightArea {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .bigCircle {
    display: none;
  }
  .smallCircle {
    display: none;
  }
}
