@use "/src/styles/variables" as *;
.becomeSection {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 72px 72px;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  .becomeContainer {
    width: 1296px;
    background-color: $color-primary;
    justify-content: space-between;
    opacity: 1;
    padding-right: 100px;
    padding-left: 100px;
    border-radius: 40px;
  }
  .becomeImage {
    width: 100%;
    max-width: 358px;
    height: auto;
    opacity: 1;
    display: block;
    margin: 0 20px;
  }
}
