@use "/src/styles/variables" as *;

.locationSection {
  width: 100%;
  .locationContainer {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px 72px;
    .locationTopArea {
      gap: 72px;
      .locationTitle {
        color: $color-accent;
        font-size: 19.4px;
        font-family: $font-family-base;
        font-weight: $font-weight-medium;
      }
      .locationText {
        color: $color-dark;
        font-size: 39.8px;
        font-family: $font-family-base;
        font-weight: $font-weight-semibold;
      }
    }
    .locationBottomArea {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 16px;
    }
    .propertiesCard {
      position: relative;
      min-height: 320px;
      border-radius: 30px;
      overflow: hidden;

      .cardImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }

      .locationLayer {
        position: absolute;
        bottom: 30px;
        left: 40px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .locationCount {
          font-family: $font-family-base;
          font-weight: $font-weight-semibold;
          font-size: 57.3px;
          color: $color-white;
          text-shadow: 2px 10px 30px 0px #00000040;
        }
        .locationCity {
          font-size: 24px;
          font-weight: 700;
          color: $color-white;
        }
      }

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0)
        );
        z-index: 1;
      }
    }

    .propertiesCard:nth-child(1),
    .propertiesCard:nth-child(2),
    .propertiesCard:nth-child(3) {
      grid-column: span 2;
    }

    .propertiesCard:nth-child(4),
    .propertiesCard:nth-child(5) {
      grid-column: span 3;
    }
  }
}
