@use "/src/styles/variables" as *;
.footerBottomSection {
  background-color: $color-black;
  max-height: 50px;
  overflow: hidden;
}
.footerBottomContainer {
  font-family: $font-family-base;
  font-weight: $font-weight-regular;
  font-size: 16px;
  color: $color-dark-gray;
  margin: auto;
  max-width: 1440px;
  position: relative;
  z-index: 999;
}
.footerBottom {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}
.footerLinks {
  display: flex;
  gap: 40px;
  list-style: none;
}
@media (max-width: $r-1440) {
  .footerBottomSection {
    padding: 5px 72px 0 72px;
  }
  .footerBottom {
    padding: 0 16px;
  }
}

@media (max-width: $rezilla-mobile) {
  .footerBottomSection {
    height: 76px;
  }
}
@media (max-width: 1250px) {
  .footerBottomSection {
    .footerBottom {
      display: flex;
      white-space: nowrap;
      align-items: center;
    }
    .footerLinks {
      display: flex;
      justify-content: center;
    }
    .footerLinks a {
      white-space: nowrap; // Metnin alt alta düşmesini engeller
    }
  }
}
