@use "/src/styles/variables" as *;
.partnersContainer {
  width: 100%;
  max-width: 1440px;
  height: 200px;
  margin: 40px auto 0;
  padding: 40px 140px;
  gap: 58px;
  display: flex;
  flex-direction: column; // üst üste yerleşim için
  align-items: center;
}
.partnersText {
  color: $color-gray;
  font-size: 16px;
  font-family: $font-family-base;
  font-weight: $font-weight-medium;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageRow {
  display: flex;
  flex-direction: row;
  gap: 90px;
  justify-content: center;
  align-items: center;
  filter: grayscale(100%);
}
