@use "/src/styles/variables" as *;
.partnersContainer {
  width: 100%;
  max-width: 1440px;

  margin: 40px auto 0;
  padding: 40px 140px;
  gap: 58px;
  display: flex;
  flex-direction: column; // üst üste yerleşim için
  align-items: center;
  position: relative;
}
.partnersText {
  color: $color-gray;
  font-size: 16px;
  font-family: $font-family-base;
  font-weight: $font-weight-medium;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.imageRow {
  display: flex;
  flex-direction: row;
  gap: 90px;
  justify-content: center;
  align-items: center;
  /*   flex-wrap: wrap; */
  filter: grayscale(100%);
  flex-wrap: nowrap;
}
.partnersContainer::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 13%;
  transform: rotate(-30deg);
  opacity: 0.5;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  opacity: 0.5;
  background: linear-gradient(180deg, #4361ee 0%, rgba(67, 97, 238, 0) 100%);
}
@media (max-width: $r-1050) {
  .partnersContainer {
    max-width: 390px;
    padding: 20px;
    gap: 40px;
  }

  .partnersContainer::before {
    display: none;
  }

  .imageRow {
    flex-wrap: wrap;
    flex: 0 1 calc(50% - 12px); // mobilde 2’li sistem
  }
}
