@use "/src/styles/variables" as *;

.aboutContainer {
  display: flex;
  flex-direction: row;
  gap: 50px;
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 72px;
  margin: 72px auto 0;
}
.aboutLeftContainer {
  max-width: 500px;
  margin: 0;
}
.aboutLeftTextArea {
  max-width: 500px;

  .leftTextAreaTitle {
    font-size: 19.4;
    color: $color-accent;
    font-family: $font-family-base;
    font-weight: $font-weight-medium;
  }
  .leftTextAreaContent {
    font-size: 39.8px;
    color: $color-dark;
    font-family: $font-family-base;
    font-weight: $font-weight-semibold;
  }
  .leftTextAreaExplain {
    font-size: 16px;
    color: $color-gray;
    font-family: $font-family-base;
    font-weight: $font-weight-regular;
    margin-bottom: 30px;
  }
}
.leftBottomArea {
  max-width: 400px;
  .leftBottomHome,
  .leftBottomUser {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    border-radius: 30px;
    padding: 35px;
    max-height: 131px;
    box-shadow: 4px 10px 30px 0px #0000000f;
  }
  .bottomHomeTextArea,
  .bottomHomeUserArea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .bottomHomeText,
  .leftBottomUser {
    font-size: 19.4px;
    color: $color-accent;
    font-family: $font-family-base;
    font-weight: $font-weight-medium;
  }
  .bottomHomeExplain,
  .leftBottomUser {
    font-size: 16px;
    color: $color-gray;
    font-family: $font-family-base;
    font-weight: $font-weight-regular;
    margin-top: 30px;
  }
}
.aboutRightContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 696px;
  max-height: 547px;
  gap: 30px;
  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 25px;
    right: 205px;
    border-radius: 50%;
    opacity: 0.5;
    transform: rotate(-30deg);
    background: linear-gradient(180deg, #4361ee 0%, rgba(67, 97, 238, 0) 100%);
  }
  .rightBottomImg {
    width: 333px;
    height: 500px;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 35px;
  }
  .bottomFirstImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .rightTopImg {
    margin-top: -60px;
    gap: 20px;
    display: flex;
    flex-direction: column;

    .topFirstImg {
      border-radius: 30px;
      max-width: 329px;
      max-height: 280px;
    }
    .topSecondImg {
      border-radius: 30px;
      max-width: 329px;
      max-height: 180px;
    }
  }
  .circleBadge {
    position: absolute;
    width: 206px;
    height: 205px;
    top: -80px;
    left: 309px;
  }
}
@media (max-width: $r-1050) {
  /* container column */
  .aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
  }

  /* wrapper'ı layouttan kaldır */
  .aboutLeftContainer {
    display: contents;
  }

  /* sıralama */
  .aboutLeftTextArea {
    order: 1;
  }

  .aboutRightContainer {
    order: 2;
    margin: 40px 0;
    justify-content: center;
  }

  .leftBottomArea {
    order: 3;
  }
}
