@use "/src/styles/variables" as *;
.testimonialsSection {
  width: 100%;
  .testimonialsContainer {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 72px 72px;
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    .testimonialLeftArea {
      max-width: 415px;
      gap: 30px;
      opacity: 1;
      font-family: $font-family-base;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .testimonialLeftTitle {
        font-size: 19.4px;
        color: $color-accent;
        font-weight: $font-weight-medium;
        line-height: 100%;
        letter-spacing: 15%;
      }
      .testimonialLeftSubtitle {
        font-size: 39.8px;
        font-weight: $font-weight-semibold;
        line-height: 47px;
        letter-spacing: 0%;
      }
      .testimonialLeftText {
        font-size: 16px;
        font-weight: $font-weight-regular;
        line-height: 26px;
        letter-spacing: 0%;
      }
    }
    .testimonialRightArea {
      display: flex;
      flex-direction: column;
      gap: 30px;
      flex: 1;
      width: 100%;
      max-width: 722px;
      box-shadow: 10px 10px 30px 0px #0000001a;
      padding-top: 28px;
      padding-right: 50px;
      padding-bottom: 28px;
      padding-left: 50px;
      gap: 30px;
      opacity: 1;
      border-radius: 30px;
      overflow: hidden;
      .testimonialCard {
        background-color: $color-white;
        border-radius: 20px;
        align-self: flex-start;
        width: 100%;
        max-width: 622px;
        font-family: $font-family-base;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        .quoteIcon {
          color: $color-yellow;
          border-radius: 50%;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .testimonialsText {
          font-size: 16px;
          color: $color-dark;
          line-height: 24px;
          max-width: 500px;
        }

        .testimonialsUsers {
          width: 100%;
          display: flex;
          align-items: center;

          .testimonialsInfo {
            display: flex;
            align-items: center;
            gap: 10px;
            flex: 1;
          }

          .testimonialStars {
            display: flex;
            gap: 4px;
            color: $color-yellow;
            margin-left: 12px;
          }
          .testimonialsName {
            font-weight: $font-weight-semibold;
            font-size: 18px;
          }
          .testimonialAvatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
